body{
  font-family: Arial, Helvetica, sans-serif;
  background:#ffffff;
  margin:0;
  padding:0;
}

h2,h3{
  color:#1f3c5a;
}

button{
  background:#2b8590;
  color:rgb(0, 0, 0);
  border:none;
  padding:8px 16px;
  border-radius:6px;
  cursor:pointer;
  font-size:14px;
}

button:hover{
  background:#2b8490b0;
}




hr{
  margin:30px 0;
}



h2,h3{
  color:#ffffff;
}





input, select{
  padding:6px;
  border:1px solid #ffffff;
  border-radius:6px;
  width:250px;
}

label{
  font-weight:bold;
}

hr{
  margin:30px 0;
}
.layout{
  height: 100vh;
}

.menu {
  width: 220px;
  background: #2b8590; /* 🔥 más profesional */
  color: #f9f8f7;
  padding: 20px 10px;
}

.menu button {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-align: left;
  color: #f9f8f7;
  margin-bottom: 10px;
  background: transparent;
  border-radius: 8px;
  padding: 10px;
  transition: 0.2s;
}
.menu button:hover {
  background: rgba(255, 255, 255, 0.1);
}
.logo {
  width: 80px;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 10px;
}
.logo-container {
  text-align: center;
  margin-bottom: 25px;
}

.titulo {
  color: #f9f8f7;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.contenido {
  padding: 20px;
  background: #f9f8f7; /* gris suave */
  height: 100%;
}
.card{
  padding: 20px;
  border-radius: 12px;
}

.firma{
  width: 40%;
  max-width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
  background: #f9f8f7;
}

mat-form-field{
  display: block;
  width: 300px;
  margin-bottom: 15px;
}